name: freefeos
description: "FreeFEOS is a Flutter plugin, an advanced Flutter development framework that can provide many advanced features for applications."
version: 0.4.0
repository: https://github.com/freefeos/freefeos

environment:
  sdk: ^3.10.0
  flutter: ">=3.38.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  vm_service: ^15.0.2
  logging: ^1.3.0
  animations: ^2.1.0
  provider: ^6.1.5+1
  intl: ^0.20.2
  package_info_plus: ^9.0.0
  url_launcher: ^6.3.2
  device_info_plus: ^12.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
  plugin:
    platforms:
      android:
        dartPluginClass: FreeFEOS
      fuchsia:
        dartPluginClass: FreeFEOS
      ios:
        dartPluginClass: FreeFEOS
      linux:
        dartPluginClass: FreeFEOS
      macos:
        dartPluginClass: FreeFEOS
      windows:
        dartPluginClass: FreeFEOS
      web:
        pluginClass: FreeFEOSWeb
        fileName: freefeos_web.dart
  assets:
    - assets/icon.png
    - README.md
    - CHANGELOG.md
    - LICENSE
    - AUTHORS

topics:
  - framework
  - flutter
  - libraryos
