<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.freefeos.freefeos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FAKE_PACKAGE_SIGNATURE" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application>
        <meta-data
            android:name="fake-signature"
            android:value="@string/fake_signature" />

        <service
            android:name=".FreeFEOSEmbedder"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.freefeos.freefeos.action" />
            </intent-filter>
        </service>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <provider
            android:name="com.superlist.super_native_extensions.DataProvider"
            android:authorities="${applicationId}.SuperClipboardDataProvider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
